#content {
	background: #FFF;
	position: relative;
	width: 100%;
}

#content .header {
	background: #E3E3E3;
	display: block;
	margin: 0;
	min-height: 28px;
	padding: 0;
	width: 100%;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#C6C6C6'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#C6C6C6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #E3E3E3,  #C6C6C6); /* for firefox 3.6+ */

}

#content .header h1 {
	font-size: 1.4em;
	padding: 10px 0 10px 10px;
}

/* Body */
#content .body {
	padding: 10px;
}

#content .body h1 {
	font-size: 2.0em;
	padding: 10px 10px 10px 0;
}

#content .body h2 {
	font-size: 1.6em;
	padding: 10px 10px 10px 0;
}

#content .body h3 {
	font-size: 1.2em;
	padding: 10px 10px 10px 0;
}

#content .body h4 {
	border-bottom: 2px solid #222;
	font-size: 2.0em;
	padding: 10px 10px 10px 0;
}

#content .body h5 {
	font-size: 2.0em;
	padding: 10px 10px 10px 0;
	text-align: right;
}

#content .body h6 {
	font-size: 2.0em;
	padding: 10px 10px 10px 0;
	text-align: center;
}



#content .body p {
	margin: 10px 20px 20px 20px;
}

#content .body table {
	margin: auto;
	width: 70%;
}

#content .body table th {
	background: #FFF;
	border-bottom: 2px solid #333;
	padding: 0 0 10px 0;
	text-align: left;
}

#content .body table td {
	border-bottom: 1px solid #E2E2E2;
	padding: 10px 0 10px 0;
}

#content .body table tr:hover {
	background: #ECF5FF;
}
