#header {
	background: #333;
	bottom: auto;
	display: block;
	height: 70px;
	left: 0px;
	margin: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	visibility: visible;
	width: auto;
	z-index: 2;
}

#header a#logo {
	color: #FFF;
	display: block;
	font-size: 1.2em;
	padding: 4px 0 0 20px;
	text-decoration: none;
}

#header div#user-info {
	float: right;
	padding: 4px;
}

#header div#user-info span.username {
	color: #CCC;
	float: right;
	padding: 0 20px 0 0;
}

#header div#user-info ul {
	list-style-type: none;
	float: right;
}

#header div#user-info li {
	display: inline;
}

#header div#user-info li a {
	color: #AAA;
	font-size: 0.8em;
	padding: 0 8px 0 0;
	text-decoration: none;
}

#header div#user-info li a:hover {
	color: #CCC;
}

/* Toolbar */
ul#toolbar {
	background: #999;
	border-bottom: 2px solid #999;
	bottom: 0;
	float: left;
	font-size: 1.0em;
	height: 38px;
	line-height: 1.2em;
	list-style-type: none;
	position: absolute;
	overflow: hidden;
	width: 100%;

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C4A4A', endColorstr='#222'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#4C4A4A), to(#222)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #4C4A4A,  #222); /* for firefox 3.6+ */
}

ul#toolbar li a {
	color: #FFF;
	display: inline;
	float: left;
	line-height: 1.2em;
	padding: 10px 20px 8px 20px;
	text-decoration: none;
}

ul#toolbar li a:hover {
	background: #AE0606;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3180A', endColorstr='#85130B'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#E3180A), to(#85130B)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #E3180A,  #85130B); /* for firefox 3.6+ */
}

ul#toolbar li a.selected {
	background: #CD2915;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F12D16', endColorstr='#BC2311'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#F12D16), to(#BC2311)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #F12D16,  #BC2311); /* for firefox 3.6+ */
}

ul#toolbar ul#toolbar-right {
	position: absolute;
	right: 10px;
}

ul#toolbar ul#toolbar-right li {
	display: inline;
}

ul#toolbar ul#toolbar-right li input[type="text"] {
	background: #222;
	border: 1px solid #747474;
	color: #FFF;
	height: 22px;
	margin: 6px;
	padding: 0 18px 0 2px;
	width: 10em;
	
	background-image:url('search.png');
	background-repeat: no-repeat;
	background-position: center right;
}

